<!DOCTYPE html>
<html>
<head>
    <%- include('./components/header') %>
    <title>Habit Steak - User Profile</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/userProfile.css" />
    <script src="/userProfile.js"></script>
</head>
<body>
        <div id="container">
            <%- include('./components/navbar', {data: data}) %>
            <div class="card" style="width: 300px;">
                <ul class="list-group list-group-flush">
                    <li id="usernameContainer" class="list-group-item">
                        <span id="usernameLabel">Username: </span>
                        <p id="usernameText" class="userInfo"><%= data.username %></p> 
                        <button id="changeUsernameBtn" class='fa fa-edit' onclick="changeUsername()"></button></li>
                    <li class="list-group-item">User ID: <p class="userInfo"><%= data.userID %></p></li>
                    <li class="list-group-item">Email: <p class="userInfo"><%= data.email %></p></li>
                    <li class="list-group-item">Number of Tasks: <p class="userInfo"><%= data.taskNo - data.taskDelNo %></p></li>
                </ul>
            </div>
            <button id="deleteBtn" class="btn btn-danger" data-toggle='collapse' data-target='#deleteConfirmation' aria-expanded="false" aria-controls="deleteConfirmation">DELETE ACCOUNT</button>
            <div id="deleteConfirmation" class="collapse">
                <div class="card text-center">
                    <p class='card-body'>Are you sure you want to delete your account? No information can be retrieved after deletion</p>
                    <div id='deleteCancelBtns' class="btn-group card-body">
                        <button id="deleteConfirmed" class="btn btn-danger" data-userId=<%= data.id %>>DELETE</button>
                        <button class="btn btn-light" data-toggle='collapse' data-target='#deleteConfirmation' aria-expanded="false" aria-controls="deleteConfirmation">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>